<footer>
    <div class="footer-inner">
        <div class="footer-top">
            <div class="footer-logo">
                <div class="name"><img src="/images/churchlogo.png" alt="로고"> 모라중앙교회</div>
                <p>주소: 부산시 사상구 백양대로902번길26<br>전화: 051-312-4729<br>주일예배: 오전 11:00 &nbsp;|&nbsp; 오후 3:00<br>수요예배: 저녁 7:30<br>금요철야: 저녁 9:00</p>
            </div>
            <div class="footer-col">
                <h4>교회 소개</h4>
                <ul>
                    <li><a href="/pastor.html">담임목사 인사말</a></li>
                    <li><a href="#">교회 연혁</a></li>
                    <li><a href="#">섬기는 사람들</a></li>
                    <li><a href="#">예배 안내</a></li>
                    <li><a href="#">찾아오시는 길</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>바로가기</h4>
                <ul>
                    <li><a href="#">주일 설교</a></li>
                    <li><a href="#">새가족 소개</a></li>
                    <li><a href="#">교우 소식</a></li>
                    <li><a href="#">선교지 소식</a></li>
                    <li><a href="#">포토앨범</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <span>© 2025 모라중앙교회. All rights reserved.</span>
            <span>Mora Central Church</span>
        </div>
    </div>
</footer>
