<header>
    <div class="header-inner">
        <a href="/index.html" class="logo">
            <div class="logo-icon"><img src="/images/churchlogo.png" alt="모라중앙교회 로고"></div>
            <div class="logo-text">
                <div class="name">모라중앙교회</div>
                <div class="sub">MORA CENTRAL CHURCH</div>
            </div>
        </a>
        <nav id="mainNav">
            <ul>
                <li data-nav="church-intro">
                    <a href="#">교회 소개</a>
                    <ul class="dropdown">
                        <li><a href="/pastor.html" data-nav="pastor">담임목사 인사말</a></li>
                        <li><a href="/history.html" data-nav="history">교회 연혁</a></li>
                        <li><a href="/staff.html" data-nav="staff">섬기는 사람들</a></li>
                        <li><a href="#">예배 안내</a></li>
                        <li><a href="/map.html">찾아오시는 길</a></li>
                    </ul>
                </li>
                <li data-nav="sermon">
                    <a href="#">설교</a>
                    <ul class="dropdown">
                        <li><a href="#">주일 오전 예배</a></li>
                    </ul>
                </li>
                <li data-nav="education">
                    <a href="#">양육교육</a>
                    <ul class="dropdown">
                        <li><a href="#">새가족부</a></li>
                        <li><a href="#">양육과정</a></li>
                    </ul>
                </li>
                <li data-nav="next-gen">
                    <a href="#">다음세대</a>
                    <ul class="dropdown">
                        <li><a href="#">유치부</a></li>
                        <li><a href="#">유초등부</a></li>
                        <li><a href="#">중고등부</a></li>
                        <li><a href="#">청년부</a></li>
                    </ul>
                </li>
                <li data-nav="news">
                    <a href="#">교회 소식</a>
                    <ul class="dropdown">
                        <li><a href="#">광고</a></li>
                        <li><a href="#">새가족 소개</a></li>
                        <li><a href="#">교우 소식</a></li>
                        <li><a href="#">선교지 소식</a></li>
                        <li><a href="#">포토앨범</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="menu-toggle" id="menuToggle">
            <span></span><span></span><span></span>
        </div>
    </div>
</header>
